* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*border: 1px solid red;*/
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  a img,
  input[type="button"] {
    cursor: pointer;
  }
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px;
  margin-bottom: 24px;
  min-height: 60px;
  border-bottom: 1px solid #a6a1a1;
}

.counter{
  display: flex;
  gap: 16px;
  font-weight: 500;
}

.background{
position: fixed;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

.main{
  border: 1px solid #a6a1a1;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 0 64px;
  padding: 24px;
  gap: 12px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #919191;
  position: relative;
  z-index: 1;
}
.form-name-block{
display: flex;
  flex-direction: column;
  max-width: 350px;
}

.label{
  font-size: 12px;
}

.value-block{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.form-value-block{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.input-area{
  padding: 6px 12px;
  font-size: 14px;
}
.notes-color-block{
  display: flex;
  flex-direction: column;
  font-size: 14px;

}
.notes-color{
  display: flex;
  justify-content: center;
  gap: 8px;
}

.border-img{
  padding: 6px;
}
.add-button{
  border-radius: 10px;
  border: none;
  min-height: 36px;
  background: #457CDC;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}
.notes-block{
  display: flex;
  margin: 0 64px;
  gap: 20px;
  position: relative;
  z-index: 1;
}

/*.notes-block:has(div) .background{*/
/*  display: none;*/
/*}*/
/*не работатет*/
